<section id="home-banner">
<div class="container">
  <div class="row" id="home-banner-content">
    <div class="col-xs-7 col-sm-7 col-md-7">
      <h1>Hire expert freelancers for your online job.</h1>
    </div>
    <div class="col-xs-6 ">

      <p>Millions of small businesses use Freelancer.com to turn their ideas into reality. Need to get work done? Click 'Hire' to get started!</p>
      <a href="#"><button type="button" class="btn btn-default btn-lg">Hire</button></a>
      <a href="#"><button type="button" class="btn btn-default btn-lg">Work</button></a>

    </div>
  </div>
</div>
</section>
